.collapse div a {
  width: 90px;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  height: 40px;
  font-size: 20px;
  background-color: #0f868a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
    font-size: 20px;
}
.nav-link:hover{
color: rgb(143, 143, 143) !important;
}
.collapse div a:hover {
    background-color: #0f868a;

}
.custom-dropdown-menu {
  min-width: 120px; /* Set your desired minimum width */
  text-align: center;
}
.custom-dropdown-menu li :hover{
  background-color: #0f868a;

}

.dropdown-toggle::after{
  content: ""!important;
 border-top: none;
}